{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .form-container {
        margin-bottom: 20px;
    }

    .form-container label,
    .form-container select,
    .form-container input {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #friend-select-container {
        margin-bottom: 20px;
    }

    .chat-room-list {
        margin-top: 20px;
    }

    .messages {
        color: red;
    }
</style>
<h1>Welcome to our site!</h1>

<h2>Add a Friend to Chat</h2>
<form method="post" action="{% url 'add_friend' %}">
    {% csrf_token %}
    <label for="friend_username">Select Friend:</label>
    <select name="friend_username" id="friend-select" required>
        <option></option> <!-- This empty option is needed for Select2 to show the placeholder -->
        {% for user in all_users %}
            {% if user != request.user %}
                <option value="{{ user.username }}">{{ user.username }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Add Friend</button>
</form>



<form method="get" action="">

    <input type="text" name="q" placeholder="Search chat rooms..." value="{{ search_query }}">
    <button type="submit">Search</button>
    <br><br>
    <label for="sort">Sort By:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="recent" {% if sort_option == "recent" %}selected{% endif %}>Recent</option>
        <option value="alphabetical" {% if sort_option == "alphabetical" %}selected{% endif %}>Alphabetical</option>
        <option value="alphabetical_reverse" {% if sort_option == "alphabetical_reverse" %}selected{% endif %}>
            Alphabetical (Reverse)</option>
    </select>
</form>

<h2>Your Chat Rooms</h2>
{% if chat_rooms_with_last_message %}
<ul>
    {% for chat in chat_rooms_with_last_message %}
    <li>
        <a href="{% url 'chat' chat_room_id=chat.room.id %}">{{ chat.display_name }}</a>
        <br>
        <small>{{ chat.room.description }}</small>
        {% if chat.last_message %}
        <p><strong>Last Message by {{ chat.last_message.author.username }}:</strong> {{ chat.last_message.text }}</p>
        {% else %}
        <p><em>No messages yet.</em></p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You are not part of any chat rooms yet.</p>
{% endif %}
{% endblock %}